<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="RewriteUserFriendlyURL1" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="?page={C:1}" />
                </rule>
                <rule name="Rewrite rule1 for a" enabled="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{a:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="a">
                    <add key="/login" value="?page=login" />
                    <add key="/logout" value="?page=logout" />
                    <add key="/register" value="?page=register" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
        <directoryBrowse enabled="false" />
        <httpErrors>
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="https://secure.sphub.ca/?page=Error/401" responseMode="Redirect" />
            <error statusCode="402" prefixLanguageFilePath="" path="https://secure.sphub.ca/?page=Error/402" responseMode="Redirect" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://secure.sphub.ca/?page=Error/403" responseMode="Redirect" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://secure.sphub.ca/?page=Error/404" responseMode="Redirect" />
            <remove statusCode="405" subStatusCode="-1" />
            <error statusCode="405" prefixLanguageFilePath="" path="https://secure.sphub.ca/?page=Error/405" responseMode="Redirect" />
            <remove statusCode="406" subStatusCode="-1" />
            <error statusCode="406" prefixLanguageFilePath="" path="https://secure.sphub.ca/?page=Error/406" responseMode="Redirect" />
            <remove statusCode="412" subStatusCode="-1" />
            <error statusCode="412" prefixLanguageFilePath="" path="https://secure.sphub.ca/?page=Error/412" responseMode="Redirect" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="https://secure.sphub.ca/?page=Error/500" responseMode="Redirect" />
            <remove statusCode="501" subStatusCode="-1" />
            <error statusCode="501" prefixLanguageFilePath="" path="https://secure.sphub.ca/?page=Error/501" responseMode="Redirect" />
            <remove statusCode="502" subStatusCode="-1" />
            <error statusCode="502" prefixLanguageFilePath="" path="https://secure.sphub.ca/?page=Error/502" responseMode="Redirect" />

        </httpErrors>

    </system.webServer>
</configuration>
